
.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(to right, rgb(57, 177, 177) , yellow);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.main-nav {
  display: flex;
  justify-content: right;
  position: relative;
  height: 70px;
  background-color: #fff;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.491);
}

.main-nav ul {
  display: flex;
  
}

.main-nav ul li {
  list-style: none;
  margin: 1 2px 0px 1.1px;
  cursor: pointer;
}

.main-nav ul .logo img {
  position: absolute;
  top: -2rem;
  left: 7rem;
  width: 13rem;
}

.main-nav ul .list {
  /* text-align: center; */
  margin-right: 80px;
  padding-top: 20px;
  
}

.main-nav ul .list span {
  /* background-color: red; */
  position: absolute;
  top: 1.6rem;
  right: 10rem;
}

.main-nav ul .list img{
  height: 30px;
  width: 30px;
  
}

.main-nav ul li button {
  padding: 9px 20px 9px 20px;
  transition: 0.3s ease-in-out;
  border-radius: 6px;
  outline: #D70F64;
  border: 1px solid #D70F64;

}

.main-nav ul .signUpBtn button {
  background-color: #D70F64;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  position: absolute;
  top: 1.3rem;
  right: 17rem;

}

.main-nav ul .loginBtn button {
  background-color: #fff;
  border-radius: 6px;
  color: #D70F64;
  font-weight: 600;
  position: absolute;
  top: 1.3rem;
  right: 25rem;
}
.main-nav ul li:hover button {
  transform: scale(1.1);
  cursor: pointer;


}

/* 
.section1{
  background-color: lightgray;
  height: 60vh;
  
  
}

.section1 img{
  margin-left: 60%;
  height: 60vh;
  width: 600px;
  border: 1px solid black;
  padding-bottom: 65px;
 
}

.heading1{
  border: 1px solid black;
  width: 700px;
  padding: 200px;
  
} */



.box{
  border: 1px solid black;
  width: 50px;
  height: 50px;
}







